application_default_credentials.json
.vscode
.env
**.env
**.crt
**.key
ssh-keys/
gpg-keys/
__pycache__
.ipynb_checkpoints
**/.thoth_last_analysis_id
_build
db.sqlite3
/data/
.decrypted*
secrets/**decrypted**
**/venv/
venv/
tmp.d/
k6
