---
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.3.1
    hooks:
      - id: remove-tabs

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=2048']
      - id: check-ast
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: name-tests-test
      - id: trailing-whitespace

  # - repo: https://github.com/pycqa/pydocstyle.git
  #   rev: "6.1.1"
  #   hooks:
  #     - id: pydocstyle
  #       args:
  #         ["--ignore", "D100,D101,D102,D103,D107"]

  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v0.942
  #   hooks:
  #     - id: mypy
  #       exclude: '^(docs|tasks|tests)|setup\.py'
  #       args: [--ignore-missing-imports]

  - repo: https://github.com/psf/black
    rev: "22.10.0"
    hooks:
      - id: black

  - repo: https://github.com/tomcatling/black-nb
    rev: "0.7"
    hooks:
      - id: black-nb

  # Enable this in repositories with python packages.
  # - repo: https://github.com/mgedmin/check-manifest
  #   rev: '0.47'
  #   hooks:
  #     - id: check-manifest

  - repo: https://gitlab.com/PyCQA/flake8
    rev: "3.9.2"
    hooks:
      - id: flake8
        additional_dependencies: ["pep8-naming"]
        # Ignore all format-related checks as Black takes care of those.
        args:
          ["--ignore", "E2,W5,D100,D101", "--select", "E,W,F,N", "--max-line-length=120"]
