[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
sqlalchemy = "*"
influxdb-client = "*"
django = "*"
celery = "*"
django-environ = "*"
uwsgi = "*"
paho-mqtt = "*"
sanitize-filename = "*"
pandas = "*"
django-admin-relation-links = "*"
django-sql-explorer = "*"
django-plotly-dash = "*"
dash-bootstrap-components = "*"
django-bootstrap4 = "*"
dpd-static-support = "*"
whitenoise = "*"
django-dirtyfields = "*"
matplotlib = "*"
scipy = "*"
locked-dict = "*"

[dev-packages]
black = "*"
mypy = "*"

[requires]
python_version = "3.10"
