[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
apscheduler = "*"
celery = "*"
crispy-bootstrap4 = "*"
dash-bootstrap-components = "*"
django = "*"
django-admin-list-filter-dropdown = "*"
django-admin-relation-links = "*"
django-allauth = "*"
django-bootstrap4 = "*"
django-crispy-forms = "*"
django-dirtyfields = "*"
django-environ = "*"
django-extensions = "*"
django-model-utils = "*"
django-picklefield = "*"
django-plotly-dash = "*"
django-prometheus = "*"
django-sql-explorer = "*"
dpd-static-support = "*"
flask-healthz = "*"
fontawesomefree = "*"
influxdb-client = {extras = ["async"], version = "*"}
jupyter = "*"
kaleido = "*"
locked-dict = "*"
matplotlib = "*"
paho-mqtt = "*"
pandas = "*"
prometheus-flask-exporter = "*"
psycopg2-binary = "*"
rich = "*"
sanitize-filename = "*"
scikit-learn = "*"
scipy = "*"
sqlalchemy = "*"
uwsgi = "*"
whitenoise = "*"

[dev-packages]
black = "*"
factory-boy = "*"
isort = "*"
mypy = "*"
commitizen = "*"

[requires]
python_version = "3.10"
