[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
sqlalchemy = "*"
influxdb-client = "*"
django = "*"
celery = "*"
django-environ = "*"
uwsgi = "*"
paho-mqtt = "*"
sanitize-filename = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.10"
