[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "==3.5.2"
numpy = "==1.23.1"
pandas = "==1.4.3"
jupyter = "*"
influxdb-client = "*"

[dev-packages]

[requires]
python_version = "3.10"
