{% extends "site/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load account socialaccount %}

{% block title %}#B4mad Racing Login{% endblock title %}

{% block content %}
<section>
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                {# djlint:off #}<div class="card text-black" style="border-radius: 25px;">{# djlint:on #}
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">


                                {% get_providers as socialaccount_providers %}

                                {% if socialaccount_providers %}
                                <p>{% blocktrans with site.name as site_name %}Please sign in with one
                                of your existing third party accounts. {% endblocktrans %}</p>

                                <div class="socialaccount_ballot">

                                  <ul class="socialaccount_providers">
                                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                                  </ul>

                                </div>

                                {% include "socialaccount/snippets/login_extra.html" %}

                                {% else %}
                                <p>{% blocktrans %}If you have not created an account yet, then please
                                <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                                {% endif %}
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                {# djlint:off #}<img
                                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                    class="img-fluid" alt="Sample image">{# djlint:on #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
