{% extends "site/base.html" %}
{% load django_bootstrap5 %}

{% block title %}#B4mad Racing Signup{% endblock title %}

{% block content %}

<section>
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                {# djlint:off #}<div class="card text-black" style="border-radius: 25px;">{# djlint:on #}
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <form class="mx-1 mx-md-4" method="post">
                                    {% csrf_token %}
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" name="first_name" maxlength="30" placeholder="First name"
                                                required id="id_first_name" class="form-control" />
                                            <input type="text" name="last_name" maxlength="30" placeholder="Last name"
                                                required id="id_last_name" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" name="username" placeholder="Username"
                                                autocomplete="username" minlength="1" maxlength="150" required
                                                id="id_username" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="email" name="email" placeholder="Email address"
                                                autocomplete="email" maxlength="320" required id="id_email" class="
                                                form-control">
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" id="id_password1" class="form-control"
                                                name="password1" placeholder="Password" autocomplete="new-password"
                                                required aria-describedby="id_password1_helptext" />
                                            <input type="password" id="id_password2" class="form-control"
                                                name="password2" placeholder="Password" autocomplete="new-password"
                                                required aria-describedby="id_password2_helptext" />
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                {# djlint:off #}<img
                                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                    class="img-fluid" alt="Sample image">{# djlint:on #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
