{% extends "site/base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}#B4mad Racing{% endblock title %}

{% block content %}
<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">ach ach</h1>
            <p class="lead">Da ist etwas shcief... 404?!
            </p>
            <p> head back to <a href="{% url 'home' %}">the frontpage</a>...

            </p>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3" src="/images/404_grello.png" alt="" width="720" /><!-- noqa: H006 -->
        </div>
    </div>
</div>

{% endblock content %}
