[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
influxdb-client = ">=1.31.0"
jupyter = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
seaborn = "*"
nbconvert = {extras = ["webpdf"], version = "*"}
scipy = "*"
plotly = "*"
ipywidgets = "~=7.0"
scikit-learn = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
kaleido = "*"
ipykernel = "*"
tslearn = {git = "https://github.com/tslearn-team/tslearn"}
ruptures = "*"
stumpy = "*"
sktime = "*"
hmmlearn = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.9"
