[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
paho-mqtt = "*"
influxdb-client = "*"
sanitize-filename = "*"
dash = "*"
pandas = "*"
plotly-express = "*"
dash-bootstrap-components = "*"

[dev-packages]
black = "*"
mypy = "*"

[requires]
python_version = "3.9"
