[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
influxdb-client = ">=1.31.0"
jupyter = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
seaborn = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.9"
