{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block title%}Pit Crew{%endblock%}

{%block content%}
<h1>#B4mad Racing Pit Crew</h1>
<div class="card border-dark">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3>{{ coach }}</h3>
          <form method="post">{% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Update">
          </form>
          <hr />
          <H5>Coaching on track</H5>
          <div class="info alert alert-info" role="alert">
              {{ coach.fast_lap }} <br/>
              Based on lap time {{ coach.fast_lap.laps.first.time }} seconds by {{ coach.fast_lap.laps.first.session.driver }}
          </div>
          <H5>status message</H5>
          <div class="info alert alert-info" role="alert">
              {{ coach.status }}
          </div>
          <H5>error</H5>
          <div class="alert alert-danger" role="alert">
              {{ coach.error }}
          </div>
          <hr />
          <h5>Coaching messages</h5>
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">meters</th>
                  <th scope="col">message</th>
                  <th scope="col">priority</th>
                </tr>
              </thead>
              <tbody>
                {% for msg in messages %}
                <tr>
                  <th scope="row">{{ msg.distance }}</th>
                  <td>{{ msg.message }}</td>
                  <td>{{ msg.priority }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
