{%extends "base.html"%} {%block title%}Pit Crew{%endblock%} {%block content%}
<h1>#B4mad Racing Pit Crew</h1>
<div class="card border-dark">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3>Coaches</h3>
          <table>
            <tr>
              <th>game</th>
              <th>car</th>
              <th>track</th>
            </tr>
            {% for lap in fast_laps %}
            <tr>
              <td>{{ lap.game }}</td>
              <td>{{ lap.car }}</td>
              <td><a href="/fastlap/{{ lap.pk }}">{{ lap.track }}</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
