{%extends "base.html"%}

{%block title%}Pit Crew{%endblock%}

{%block content%}
<h1>#B4mad Racing Pit Crew</h1>
<div class="card border-dark">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3>{{ fastlap }}</h3>

            <table class="table">
              <tr>
              <th>turn</th>
              <th>start</th>
              <th>end</th>
              <th>brake</th>
              <th>turn in</th>
              <th>force</th>
              <th>gear</th>
              <th>stop</th>
              <th>accelerate</th>
              <th>speed</th>
            <th>mark</th>
            </tr>
            {% for s in segments %}
              <tr>
                <td>{{s.turn}}</td>
                <td>{{s.start}}</td>
                <td>{{s.end}}</td>
                <td>{{s.brake}}</td>
                <td>{{s.turn_in}}</td>
                <td>{{s.force}}</td>
                <td>{{s.gear}}</td>
                <td>{{s.stop}}</td>
                <td>{{s.accelerate}}</td>
                <td>{{s.speed}}</td>
                <td>{{s.mark}}</td>
              </tr>
            {% endfor %}
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
