{%extends "base.html"%} {% load socialaccount %}

{%block title%}Paddock{%endblock%}

{%block content%}
<h1>#B4mad Racing Paddock</h1>
<div class="card border-dark">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          {% if user.is_authenticated %}
          <h3>Welcome {{ user.username }} !!!</h3>
          <br /><br />
          <a href="{% url 'account_logout' %}" class="btn btn-danger">Logout</a>
          {% else %}
          <!-- GitHub button starts here -->
          <a href="{% provider_login_url 'github' %}" class="btn btn-secondary">
            <i class="fa fa-github fa-fw"></i>
            <span>Login with GitHub</span>
          </a>
          <!-- GitHub button ends here -->
          {% endif %}
          <hr />
          <h3>🏁</h3>
          <ul>
            <li>Read the <a href="https://github.com/b4mad/racing#installation">installation instructions</a></li>
            <li>Check <a href="{%url "fastlap"%}">game / track / car </a> combos</li>
            <li>Enable <a href="{%url "coach"%}">coaching</a></li>
            <li>Start <a href="https://github.com/b4mad/racing">contributing</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
