{%extends "site/base.html"%}
{%block title%}Pit Crew{%endblock%}
{%load static%}
{%block content%}

<h1>Session View</h1>
<div class="card border-dark">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <small id="lapHelp" class="form-text text-muted">Lap 1</small>
          <select class="form-select form-select-sm" id="lap-selector-1">
            {% for lap in session.laps.all %}
            <option value="{{lap.number}}" {% if lap_number == lap.number %}selected{% endif %}>
              {{ lap.number }} - {{ lap.time|floatformat:3 }}
            </option>
            {% endfor %}
          </select>
        </div>
        <div class="col-3">
          <small id="lapHelp" class="form-text text-muted">Lap 2</small>
          <select class="form-select form-select-sm" id="lap-selector-2">
            <option value="none">none</option>
            {% for lap in session.laps.all %}
            <option value="{{lap.number}}">
              {{ lap.number }} - {{ lap.time|floatformat:3 }}
            </option>
            {% endfor %}
            {% for lap in compare_laps %}
            <option value="{{lap.id}}">
              {{ lap.number }} - {{ lap.time|floatformat:3 }}
              - {{ lap.session.driver.name }}
            </option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4 {% if not map_data %}d-none{% endif %}" id="col-map">
        <div id="map"></div>
      </div>
      <div class="{% if map_data %}col-8{% else %}col-12{% endif %}" id="col-graphs">
        <div class="row">
          <!-- <div class="col-2 telemetry-box">
            <div class="lap-info">
              <div class="lap">LAP1 <span id="speed-value-1" class="lap-telemetry">192</span> km/h</div>
              <div class="lap">LAP2 <span id="speed-value-2" class="lap-telemetry">184</span> km/h</div>
            </div>
          </div> -->
          <div class="col-12">
            <div id="speed-graph"></div>
          </div>
        </div>
        <div class="row">
          <!-- <div class="col-2 telemetry-box">
            <div class="lap-info">
              <div class="lap">LAP1 <span class="lap-telemetry">80</span>%</div>
              <div class="lap">LAP2 <span class="lap-telemetry">75</span>%</div>
            </div>
          </div> -->
          <div class="col-12">
            <div id="throttle-graph"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{% static 'session.js' %}"></script>
<link href="{% static 'session.css' %}" rel="stylesheet">
{%endblock%}
