{%extends "site/base.html"%}
{%block title%}Pit Crew{%endblock%}
{%load static%}

{%block content%}
<h2>{{ game }} - {{ track }} - {{ car }}</h2>
{% for session in sessions %}
<div class="card border-dark">
  <div class="card-header">
    Session {{ session.session_id }} -
    {{ session.laps.first.track.name }} -
    {{ session.laps.first.car.name }}
  </div>
  <div class="card-body">
    <h5 class="card-title">
      Driver {{ session.driver }}
    </h5>
    <div class="container">
      <div class="row mb-5">
        <div class="col">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Analyze</th>
                  <th scope="col">Number</th>
                  <th scope="col">Start</th>
                  <th scope="col">End</th>
                  <th scope="col">Time</th>
                  <th scope="col">Length</th>
                  <th scope="col">Valid</th>
                </tr>
              </thead>
              <tbody>
                {% for lap in session.laps.all %}
                <tr>
                  <td>
                    <a href="{% url 'session' session_id=session.session_id lap=lap.number %}" class="btn btn-primary">View</a>
                  </td>
                  <td>{{ lap.number }}</td>
                  <td>{{ lap.start }}</td>
                  <td>{{ lap.end }}</td>
                  <td>{{ lap.time }}</td>
                  <td>{{ lap.length }}</td>
                  <td>{{ lap.valid }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{%endblock%}
