[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "==3.5.2"
numpy = "==1.23.1"
pandas = "==1.4.3"
jupyter = "==1.0.0"
influxdb-client = "==1.31.0"
seaborn = "==0.11.2"

[dev-packages]

[requires]
python_version = "3.10"
