{% extends "site/base.html" %}
{% load django_bootstrap5 %}

{% block title %}#B4mad Racing Copilots{% endblock title %}

{% block content %}
<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">What is this all about?!</h1>
            <p class="lead">
                Esse esse officia quis consectetur exercitation. Sunt in est Lorem sunt duis sunt est nulla consectetur
                ex ullamco. Non esse cupidatat eiusmod eu. Officia dolor culpa labore proident proident in sint
                consectetur ex magna elit eiusmod sit eu. Est dolore culpa do excepteur velit et elit id anim consequat
                sint laboris id.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                Id labore nisi ut laboris culpa magna nisi proident ipsum ut dolore consequat ex pariatur. In occaecat
                irure magna Lorem cillum est tempor tempor culpa proident non aliqua. Ut magna fugiat mollit sunt dolor
                cillum tempor nulla Lorem consectetur minim.
            </div>
        </div>
    </div>
</div>
{% endblock content %}
