{% extends "site/bootstrap.html" %}
{% load static %}

{% load django_bootstrap5 %}

{% block bootstrap5_content %}
<main>
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">
                    {# djlint:off #}<img class="dpd-logo" height="50px" src="{% static 'images/logo-main-black.png' %}"
                        alt="Logo" />{# djlint:on #}
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'copilots-overview' %}" class="nav-link">copilots</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'profile' request.user.username %}" class="nav-link">profile</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'account_logout' %}" class="nav-link">logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{% url 'account_login' %}" class="nav-link">login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        <div>
            <div class="bg-light p-5 rounded">
                <div class="col-sm-11 mx-auto">
                    {% block content %}(no content){% endblock content %}
                </div>
            </div>
        </div>

        <footer class="py-5">
            <div class="row">
                <div class="col-6 col-md-2 mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="{% url 'home' %}"
                                class="nav-link p-0 text-body-secondary">home</a></li>
                        <li class="nav-item mb-2">
                            <a href="https://github.com/b4mad/racing#installation"
                                class="nav-link p-0 text-body-secondary">help</a>
                        </li>

                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">about</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-2 mb-3">
                    <h5>Community</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="https://hackmd.io/x-nQ4k9hSmKb58XiNLCORA?view"
                                class="nav-link p-0 text-body-secondary">Meetings</a></li>
                        <li class="nav-item mb-2">
                            <a href="https://discord.com/channels/850841654327640074/914445482154147860"
                                class="nav-link p-0 text-body-secondary">Discord</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-5 offset-md-1 mb-3">
                    <form>
                        <h5>Subscribe to our newsletter</h5>
                        <p>Monthly digest of what's new and exciting from us.</p>
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                            <label for="newsletter1" class="visually-hidden">Email address</label>
                            <protonpass-control></protonpass-control><input id="newsletter1" type="text"
                                class="form-control" placeholder="Email address" />
                            <button class="btn btn-primary" type="button">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p>© 2023 #B4mad Racing. All rights reserved.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                                <use xlink:href="#twitter"></use>
                            </svg></a></li>
                    <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                                <use xlink:href="#instagram"></use>
                            </svg></a></li>
                    <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                                <use xlink:href="#facebook"></use>
                            </svg></a></li>
                </ul>
            </div>
        </footer>

    </div>
</main>
{% endblock bootstrap5_content %}
